
<div>
  <h3>{{problem.name}}</h3>
  <blockquote>
    <p bind-html-unsafe="problem.desc"></p>
  </blockquote>
  <hr />
</div>

<div class="btn-group">
  <a ng-click="onSubmit()" class="btn btn-primary">Submit</a>
</div>

<div class="btn-group" dropdown>
  <button id="cur-lang" type="button" class="btn btn-success dropdown-toggle" dropdown-toggle >C++</button>
  <ul class="dropdown-menu" role="menu">
    <li ng-repeat="choice in languages" ng-click="langClick($index)">
      <a href>{{choice}}</a>
    </li>
  </ul>
</div>

<div class="btn-group">
  <a href={{problem.discuss_link}} class="btn btn-info">Discuss</a>
</div>

<div class="btn-group">
  <a class="btn btn-warning">Submissions</a>
</div>


<div class="row">
  <div >
    <style type="text/css" media="screen">
      .ace_editor {
        margin-left: 14px;
        margin-right: 14px;
        margin-top: 23px;
        width: 97.8%;
        height: 400px;
        border: 1px lightgray solid;
      }
    </style>

    <div ui-ace="{
      theme:'textmate',
      mode: 'c_cpp',
      showPrintMargin: false,
      useSoftTabs: true,
      onLoad: aceLoaded,
      onChange: aceChanged
    }"></div>

    <script src="script/ace.js" type="text/javascript" charset="utf-8"></script>
  </div>
</div>

<br>

<div id="submission-ret-panel" class="row">
  <div style="margin-left: 14px; font-size: 20px; font-weight: bold;">
  Submission Result:
  <span id="judge-ret" style="margin-left: 5px; color: #398439; font-size: 20px"></span>
  </div>
</div>
<br>

<div id="error-msg-panel" class="panel panel-default">
  <div id="error-msg-div" class="panel-body">
    <code id="error-msg"></code>
  </div>

  <div id="wrong-answer-div">
    <table style="margin-left:8px; margin-top:8px; margin-bottom:8px;
     font-size: 15px; border-spacing: 5px; white-space: pre; border-collapse: separate;">
      <tbody>
      <tr>
        <td class="pad-left">Input:</td>
        <td id="ret_wa_input" class="line-wrap" style="padding-left: 10px;font-weight: bold"></td>
      </tr>
      <tr>
        <td class="pad-left">Output:</td>
        <td id="ret_wa_output" class="line-wrap" style="padding-left: 10px;font-weight: bold; color:#ed432f"></td>
      </tr>
      <tr>
        <td class="pad-left">Expected:</td>
        <td id="ret_wa_expected" class="line-wrap" style="padding-left: 10px;font-weight: bold; color:#398439"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>